.root {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/background.png);
    -fx-border-image-slice: 10px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 10px;
    -fx-effect: null;
}

.root:focused {
    -fx-background-color: transparent;
}