@font-face {
    src: url(../fonts/font.ttf);
}

.parent .button {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/button_default.png);
    -fx-border-image-slice: 10px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 10px;
}

.parent:hover .button {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/button_hover.png);
    -fx-border-image-slice: 10px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 10px;
}

.parent .button:focused {
    -fx-background-color: transparent;
}

.parent .noise {
    -fx-background-image: url(../textures/noise.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.parent .label {
    -fx-font-family: 'Minecraft Regular';
    -fx-font-size: 17px;
    -fx-alignment: center ;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #383838, 0, 0, 3, 3);
}

.parent:hover .label {
    -fx-text-fill: #ffff00;
}