@font-face {
    src: url(../fonts/font.ttf);
}

.console {
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #373737;
    -fx-border-width: 3px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
    -fx-font-family: 'Minecraft Regular';
    -fx-font-size: 12px;
    -fx-alignment: center ;
    -fx-text-fill: #ffffff;
}

.console:focused {
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

.console .content {
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

.console:focused .content {
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

