.toggle-button {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/slot_default.png);
    -fx-border-image-slice: 4px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 4px;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/slot_hover.png);
    -fx-border-image-slice: 4px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 4px;
    -fx-effect: null;
}

.toggle-button:hover {
    -fx-background-color: transparent;
    -fx-border-image-source: url(../textures/slot_hover.png);
    -fx-border-image-slice: 4px fill;
    -fx-border-image-insects: 0px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-width: 4px;
    -fx-effect: null;
}

.toggle-button:focused {
    -fx-background-color: transparent;
}